{% extends 'main.html' %}

{% block body %}
    {% include 'menuForStudent.html' %}
    {# на этой странице типа таблица с записями, пока тупо сделаю список #}
    <a href="/practice_{{ practice.id }}/diary/new/">
        <button type="button" class="btn btn-primary">Добавить запись в дневник</button>
    </a>
    <a href="/practice_{{ practice.id }}/diary/view/">
        <button type="button" class="btn btn-success">Просмотр</button>
    </a>
    <a href="file:///{{ the_file }}">
        <button type="button" class="btn btn-info">Скачать</button>
    </a>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Описание выполненной работы</th>
            <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/practice_{{ practice.id }}/diary/record_{{ record.id }}/">{{ record.description }}</a></td>
                <td>{{ record.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
