{% extends 'main.html' %}

{% block body %}
    {% include 'menuForStudent.html' %}
    {# на этой странице типа таблица с записями, пока тупо сделаю список #}
    {% for record in records %}
        <a href="/practice_{{ practice.id }}/diary/record_{{ record.id }}/">{{ record.description }}</a>
    {% endfor %}
    <a href="/practice_{{ practice.id }}/diary/new/">Добавить запись в дневник</a>
    <a href="/practice_{{ practice.id }}/diary/view/">Просмотр</a>
    <a href="/practice_{{ practice.id }}/diary/d/">Скачать</a>
{% endblock %}
