{% extends 'main.html' %}
{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Практика</th>
            <th>Дата начала</th>
            <th>Дата конца</th>
        </tr>
        </thead>
        <tbody>
        {% for diary in diaries_list %}
            <tr>
                <td><a href="/diary/{{ diary.id }}/">{{ diary.practice.name }}</a></td>
                <td>{{ diary.practice.date_from }}</td>
                <td>{{ diary.practice.date_to }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/practices/new/"><button type="button" class="btn btn-primary">Добавить практику</button></a>
{% endblock %}