{% extends 'main.html' %}


{% block body %}
    {% include 'menuForStudent.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="deanery-main">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="deanery-main-practice-header1 deacthref">Доступные документы:</a>
                        </div>
                        <div class="panel-body">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="col-xs-8"><a class="deanery-main-practice-header1 deacthref">Путевка
                                        студента-практиканта</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/pass/view/">Просмотр</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/pass/d/">Скачать</a></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-8"><a class="deanery-main-practice-header1 deacthref">Титульный лист отчета</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/report/view/">Просмотр</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/report/d/">Скачать</a></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-8"><a href="/practice_{{ id }}/diary/">Дневник</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/diary/view/">Просмотр</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/diary/d/">Скачать</a></td>
                                </tr>
                                <tr>
                                    <td class="col-xs-8"><a class="deanery-main-practice-header1 deacthref">Индивидуальное задание</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/individual/view/">Просмотр</a></td>
                                    <td class="col-xs-2"><a href="/practice_{{ id }}/individual/d/">Скачать</a></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}