{% extends 'main.html' %}
{% block body %}
    <P ALIGN=RIGHT STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><FONT
                FACE="Times New Roman, serif"><FONT SIZE=3><I><SPAN STYLE="font-weight: normal">Приложение
</SPAN></I></FONT></FONT></FONT></FONT>
    </P>
    <P ALIGN=RIGHT STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><FONT
                FACE="Times New Roman, serif"><FONT SIZE=4><SPAN STYLE="font-weight: normal">Министерство
образования и науки Российской Федерации</SPAN></FONT></FONT></FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT
                FACE="Times New Roman, serif"><FONT SIZE=4>федеральное
            государственное автономное образовательное
            учреждение</FONT></FONT></B></FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT
                FACE="Times New Roman, serif"><FONT SIZE=4>высшего
            образования</FONT></FONT></B></FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
        <FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT
                FACE="Times New Roman, serif"><FONT SIZE=4>«Казанский
            (Приволжский) федеральный университет»</FONT></FONT></B></FONT></FONT></P>
    <P><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4><B>Индивидуальное
        задание (план-график)</B></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4><B>на
        преддипломную практику</B></FONT></P>
    <P STYLE="margin-bottom: 0in">
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in">(2016/ 2017учебный
        год)</P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Институт/факультет<B>_</B>__<U>Высшая
        школа информационных технологий и
        информационных
        систем__________________________________________________________________________</U></P>
    <P STYLE="margin-bottom: 0in">Направление подготовки,
        профиль <U>09.03.03 Прикладная
            информатика____________________</U></P>
    <P STYLE="margin-bottom: 0in">Место прохождения
        практики
        _____________________________________________________</P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><SUB>
        (</SUB><SUB><I>наименование
        организации/ведомства)</I></SUB></P>
    <P STYLE="margin-bottom: 0in">Обучающийся____________________________________________________________________</P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt"><I>(ФИО,
        курс, группа)</I></FONT></P>
    <P STYLE="margin-bottom: 0in">Срок прохождения
        практики с 27.04.17 по 24.05.2017</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Руководитель практики
        от Университета______________________________________________</P>
    <P STYLE="margin-bottom: 0in">

        <FONT SIZE=1 STYLE="font-size: 8pt"><I>(ФИО,
            должность, ученое звание)</I></FONT></P>
    <P STYLE="margin-bottom: 0in">Содержание индивидуального
        задания на практику:</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <TABLE WIDTH=680 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=39>
        <COL WIDTH=433>
        <COL WIDTH=165>
        <TR>
            <TD WIDTH=39 HEIGHT=69 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER STYLE="margin-bottom: 0in">№
                </P>
                <P ALIGN=CENTER>п/п</P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER STYLE="margin-bottom: 0in">Индивидуальные
                    задания
                </P>
                <P ALIGN=CENTER>(перечень и описание работ)</P>
            </TD>
            <TD WIDTH=165
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER STYLE="margin-left: 0.42in; text-indent: -0.42in; margin-bottom: 0in">
                    Сроки выполнения</P>
                <P ALIGN=CENTER STYLE="margin-left: 0.42in; text-indent: -0.42in">(график)</P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=39 HEIGHT=13 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">1.</FONT></P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Ознакомиться
                    с организацией, спецификой ее работы,
                    а также с работой подразделения,
                    отвечающего профилю подготовки.
                    Подготовить краткую справку об
                    организации.</FONT></P>
            </TD>
            <TD WIDTH=165 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><FONT SIZE=2 STYLE="font-size: 11pt">с ________ по _________</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=39 HEIGHT=13 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">2.</FONT></P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Изучить
                    правила охраны туда и техники
                    безопасности в организации</FONT></P>
            </TD>
            <TD WIDTH=165 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><FONT SIZE=2 STYLE="font-size: 11pt">с ________ по _________</FONT></P>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=39 HEIGHT=14 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">3.</FONT></P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt">Составить
                    программу практического
                    исследования/опытно-конструкторских
                    работ по теме выпускной квалификационной
                    работы (ВКР).</FONT></P>
                <P ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Подобрать
                    методы и технологии для проведения
                    практического исследования
                    (опытно-конструкторских работ по теме
                    ВКР)</FONT></P>
            </TD>
            <TD WIDTH=165 VALIGN=TOP
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><FONT SIZE=2 STYLE="font-size: 11pt">с ________ по _________</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=39 HEIGHT=14
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">4.</FONT></P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Подготовить
                    и провести практическое
                    исследование/опытно-конструкторские
                    работы по теме ВКР. Провести анализ и
                    обобщение полученных результатов.</FONT></P>
            </TD>
            <TD WIDTH=165
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><FONT SIZE=2 STYLE="font-size: 11pt">с ________ по _________</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=39 HEIGHT=13
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">5</FONT></P>
            </TD>
            <TD WIDTH=433
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Подготовить
                    отчет о проделанной работе</FONT></P>
            </TD>
            <TD WIDTH=165
                STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P><A NAME="_GoBack"></A><FONT SIZE=2 STYLE="font-size: 11pt">с
                    ________ по _________</FONT></P>
            </TD>
        </TR>
    </TABLE>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        Руководитель практики от Университета
        __________________ _______________________</P>
    <P STYLE="margin-left: -0.39in; margin-right: -0.1in; text-indent: 0.39in; margin-bottom: 0in; line-height: 0.17in">
        <FONT SIZE=2 STYLE="font-size: 9pt"><I>(должность,
            ученое звание)

            (ФИО)</I></FONT></P>
    <P ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><B>Согласовано:</B></P>
    <P ALIGN=JUSTIFY STYLE="text-indent: -0.39in; margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        Руководитель практики
    </P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        от профильной организации
        __________________ __________________________</P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        <FONT SIZE=2 STYLE="font-size: 9pt"><I>(должность)


            (ФИО)</I></FONT></P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        <BR>
    </P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
        Ознакомлен
        ____________________ ________________________</P>
    <P STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">

        <FONT SIZE=2 STYLE="font-size: 9pt"><I>(ФИО
            обучающегося)</I></FONT></P>
{% endblock %}