{% extends 'main.html' %}
{% block body %}
<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
<FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN STYLE="font-weight: normal">Министерство
образования и науки Российской Федерации</SPAN></FONT></FONT></FONT></FONT></P>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
<FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="ru-RU">Ф</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>едеральное
государственное </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="ru-RU">автономное
</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>образовательное
учреждение</FONT></FONT></B></FONT></FONT></P>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
<FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT FACE="Times New Roman, serif"><FONT SIZE=4>высшего
образования</FONT></FONT></B></FONT></FONT></P>
<P LANG="en-US" ALIGN=CENTER STYLE="margin-left: 3.88in; text-indent: -3.88in; margin-bottom: 0in">
<FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=4 STYLE="font-size: 16pt"><B><FONT FACE="Times New Roman, serif"><FONT SIZE=4>«</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="ru-RU">Казанский
(Приволжский) федеральный университет</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4>»</FONT></FONT></B></FONT></FONT></P>
<P CLASS="western"><BR><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=4><B>Индивидуальное
задание (план-график)</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"> <FONT SIZE=4><B>на
учебную/ производственную  практику</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"> (2016 /
2017 учебный год)</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">Институт/факультет
<B>Высшая школа информационных технологий
и информационных систем</B></P>
<P CLASS="western" STYLE="margin-bottom: 0in">Направление
подготовки, профиль   09.03.04 Программная
инженерия (для 1 курса бакалавриат );
09.03.03 Прикладная информатика (для 2 и 3
курса бакалавриат),  09.04.04 Программная
инженерия (магистры)</P>
<P CLASS="western" STYLE="margin-bottom: 0in">Место прохождения
практики  <U>____________________________________________</U></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><SUB>
                                         (</SUB><SUB><I>наименование
организации/ведомства)</I></SUB></P>
<P CLASS="western" STYLE="margin-bottom: 0in">Обучающийся
<U>Иванов Иван Иванович, группа
_______________________________</U></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=1 STYLE="font-size: 8pt"><I>(ФИО,
курс, группа)</I></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">Срок прохождения
практики с 06.07.2017 по 19.07.2017</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-bottom: 0in">Руководитель
практики от Университета
<U>_________________________________________</U></P>
<P CLASS="western" STYLE="margin-bottom: 0in">
                                                     <FONT SIZE=1 STYLE="font-size: 8pt"><I>(ФИО,
должность, ученое звание)</I></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in">Содержание
индивидуального задания на практику:</P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=680 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=39>
	<COL WIDTH=433>
	<COL WIDTH=165>
	<TR>
		<TD WIDTH=39 HEIGHT=69 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">№
			</P>
			<P CLASS="western" ALIGN=CENTER>п/п</P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">Индивидуальные
			задания
			</P>
			<P CLASS="western" ALIGN=CENTER>(перечень и описание
			работ)</P>
		</TD>
		<TD WIDTH=165 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.42in; text-indent: -0.42in; margin-bottom: 0in">
			Сроки выполнения</P>
			<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.42in; text-indent: -0.42in">
			(график)</P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=39 HEIGHT=16 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">1.</FONT></P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Ознакомление
			со спецификой работы организации, ее
			структурой, работой отдела/подразделения,
			 в котором проводится практика</FONT></P>
		</TD>
		<TD WIDTH=165 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">с
			________ по _________</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=39 HEIGHT=13 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">2.</FONT></P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Ознакомление
			с корпоративной политикой, нормативной
			базой, должностными инструкциями,
			технологией получения и выполнения
			задач, информационной политикой и
			особенностями рабочей коммуникации.</FONT></P>
		</TD>
		<TD WIDTH=165 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">с
			________ по _________</FONT></P>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=39 HEIGHT=14 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">3.</FONT></P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=JUSTIFY><FONT SIZE=2 STYLE="font-size: 11pt">Приобретение
			первоначальных навыков работы на
			определенной позиции, выполнение
			базовых задач, поставленных руководителем
			практики.</FONT></P>
		</TD>
		<TD WIDTH=165 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">с
			________ по _________</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=39 HEIGHT=14 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">4.</FONT></P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">Выполнение
			дополнительных задач, поставленных
			руководителем практики.</FONT></P>
		</TD>
		<TD WIDTH=165 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">с
			________ по _________</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=39 HEIGHT=13 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western" ALIGN=CENTER><FONT SIZE=2 STYLE="font-size: 11pt">5.</FONT></P>
		</TD>
		<TD WIDTH=433 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">Осуществление
			систематизации и анализа работы в
			форме отчёта по практике.</FONT></P>
		</TD>
		<TD WIDTH=165 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P CLASS="western"><FONT SIZE=2 STYLE="font-size: 11pt">с
			________ по _________</FONT></P>
		</TD>
	</TR>
</TABLE>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
Руководитель практики  от Университета
          _______________ __<U>___________________</U></P>
<P CLASS="western" STYLE="margin-left: -0.39in; margin-right: -0.1in; text-indent: 0.39in; margin-bottom: 0in; line-height: 0.17in">
                   <FONT SIZE=2 STYLE="font-size: 9pt"><I>(должность,
ученое звание)
                                                   (ФИО)</I></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: 0.49in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in"><B>Согласовано:</B></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: -0.39in; margin-bottom: 0in">
<BR>
</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
Руководитель практики
</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
от профильной организации
     __________________  _____________________</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
                  <FONT SIZE=2 STYLE="font-size: 9pt"><I>(должность)


        (ФИО)</I></FONT></P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
<BR>
</P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">
Ознакомлен
     ______________    <U>________________________</U></P>
<P CLASS="western" STYLE="margin-right: -0.1in; margin-bottom: 0in; line-height: 0.17in">

                                                      <FONT SIZE=2 STYLE="font-size: 9pt"><I>(ФИО
обучающегося)</I></FONT></P>
{% endblock %}