<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		table{
			width: 100%;
		}
		td{
			width: 50%;
			vertical-align: top;
		}
		p{
			margin-top: 0;
		}
		body{
			margin-top: 0;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<td>
				<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt"><B>Заключение кафедры
по практике</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
_______________________________________________________________________</FONT><FONT SIZE=2 STYLE="font-size: 11pt">_</FONT><FONT SIZE=2>
________________________________________________________________________</FONT><br/><FONT SIZE=2 STYLE="font-size: 11pt">Зачет
по практике принят с оценкой
</FONT><FONT SIZE=2>_____________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">«______»
______________20_____г.  </FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">________________________
_______________ /___________________/</FONT><FONT SIZE=2 STYLE="font-size: 9pt"><br/>(должность)<span style="margin-left: 130px">(подпись)</span><span style="margin-left: 100px;">(ФИО)</span></FONT></P>
			</td>
			<td>
				<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>Федеральное государственное
автономное образовательное учреждение
</FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>высшего образования</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>«КАЗАНСКИЙ (ПРИВОЛЖСКИЙ)
ФЕДЕРАЛЬНЫЙ УНИВЕРСИТЕТ»</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; background: #ffffff">
<FONT SIZE=2>ОГРН 1021602841391</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=3 STYLE="font-size: 11pt">_____________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=4><B>ПУТЕВКА</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=4><B>СТУДЕНТА – ПРАКТИКАНТА</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">Обучающийся(щаяся)
{{ student.course }}  курса {{ student.group }}  группы </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">института/факультета
Высшая школа ИТИС </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in">
<FONT SIZE=2 ALIGN=LEFT STYLE="font-size: 11pt"> {{ student.name }}
                                             </FONT><FONT SIZE=2 ALIGN=CENTER STYLE="font-size: 9pt"><br/>(ФИО
обучающегося)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">согласно договору
№ ________________от «____»_____________20____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt">направляется  в
{{ practice.company }} </FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                                                                     
<FONT SIZE=2 STYLE="font-size: 9pt">(название организации)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">___________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">по
адресу {{ practice.address }} </FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt">для прохождения
учебной, производственной, преддипломной
практики</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                                                  <FONT SIZE=2 STYLE="font-size: 9pt">(нужное
подчеркнуть)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с {{ practice.date_from }} по {{ practice.date_to }} </FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с «____»_____________ 20
_____ г. по «_____»_____________ 20 _____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с «____»_____________ 20
_____ г. по «_____»_____________ 20 _____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.63in; margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<DL>
	<DD>
	<TABLE WIDTH=422 CELLPADDING=7 CELLSPACING=0>
		<COL WIDTH=83>
		<COL WIDTH=311>
		<TR VALIGN=TOP>
			<TD STYLE="border: none; padding: 0in; width:10%;">
				<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
				<BR>
				</P>
				<P LANG="ru-RU" CLASS="western"><FONT SIZE=2>МП</FONT></P>
			</TD>
			<TD WIDTH=311 STYLE="border: none; padding: 0in">
				<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
				<FONT SIZE=3 STYLE="font-size: 11pt">Департамент
				образования</FONT></P>
				<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
				<BR>
				</P>
				<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
				<BR>
				</P>
				<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY><FONT SIZE=3 STYLE="font-size: 11pt">Директор
				(зам. директора)</FONT></P>
			</TD>
		</TR>
	</TABLE>
</DL>
			</td>
		</tr>
		<tr>
			<td>
            <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt"><B>Сведения о
практиканте</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-left: -1.88in; margin-bottom: 0in; line-height: 125%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">Направление
подготовки (специальность): {{ student.edu_profile }} </FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">Профиль:
_______________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Квалификация:
{{ student.status }} </FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
                                                                    
<FONT SIZE=2 STYLE="font-size: 9pt">(бакалавр, магистр,
специалист)</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Виды работ, в изучении
которых обучающийся особенно нуждается
_____________________________________________________________<br/>
_____________________________________________________________<br/></FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Практикант явился
на практику {{ practice.date_from }} </FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Назначен в распоряжение
(Ф.И.О., должность, стаж работы по
специальности) {{ practice.teacher }}</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Практикант ознакомлен
с правилами внутреннего трудового
распорядка предприятия, требованиями
охраны труда, техники безопасности,
пожарной безопасности  
________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
                                                                     
                    <FONT SIZE=2 STYLE="font-size: 9pt">(подпись
обучающегося)</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Отзыв администрации
предприятия и руководителя практики
от профильной организации  о работе
практиканта (по окончании практики) </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
_______________________________________________________________<br/>
</FONT>
</P>
</P>
</td>
<td>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
________________________________________________________________________<br/>
</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">_______________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Практикант  выбыл
с места практики {{ practice.date_to }} </FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Руководитель
практики </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">от профильной
организации ________________ /_____________________/</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
                                                     
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">Руководитель </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<FONT SIZE=2 STYLE="font-size: 11pt">профильной организации
 _________________/____________________/</FONT></P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 125%">
             <FONT SIZE=2 STYLE="font-size: 11pt">М.П.           </FONT>
</P>
        </td>
		</tr>
	</table>
</body>
</html>
