{% extends 'main.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
                    <FONT SIZE=2 STYLE="font-size: 11pt"><B>Заключение кафедры
                        по практике</B></FONT></P>
                <P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
                    <BR>
                </P>
                <P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
                    <FONT SIZE=2>____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 ____________________________________________________________________________
                                 __________________________</FONT><FONT
                        SIZE=2 STYLE="font-size: 11pt">_</FONT><FONT SIZE=2>_________________________________________________
                    ____________________________________________________________________________</FONT><FONT
                        SIZE=2 STYLE="font-size: 11pt">
                    <br/>Зачет
                    по практике принят с оценкой
                </FONT><FONT SIZE=2>_________________________________________</FONT></P>
                <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
                    <BR>
                </P>
                <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
                    <FONT SIZE=2 STYLE="font-size: 11pt">«______»
                        ______________20_____г. </FONT>
                </P>
            </div>
            <div class="col-md-6">
                <P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">________________________
_______________ /___________________/</FONT><FONT SIZE=2 STYLE="font-size: 9pt">


                      (должность)
                  (подпись)
(ФИО)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>Федеральное государственное
автономное образовательное учреждение
</FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>высшего образования</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2>«КАЗАНСКИЙ (ПРИВОЛЖСКИЙ)
ФЕДЕРАЛЬНЫЙ УНИВЕРСИТЕТ»</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in; background: #ffffff">
<FONT SIZE=2>ОГРН 1021602841391</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=3 STYLE="font-size: 11pt">_____________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=4><B>ПУТЕВКА</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=4><B>СТУДЕНТА – ПРАКТИКАНТА</B></FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">Обучающийся(щаяся)
_____________  курса _________________  группы </FONT>
</P>
<P LANG="ru-RU" CLASS="western" STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">института/факультета
____________________________________________ </FONT>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt">_______________________________________________________________
                                             </FONT><FONT SIZE=2 STYLE="font-size: 9pt">(ФИО
обучающегося)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">согласно договору
№ ________________от «____»_____________20____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt">направляется  в
_________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">

<FONT SIZE=2 STYLE="font-size: 9pt">(название организации)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">___________________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">по
адресу____________________________________________________</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt">для прохождения
учебной, производственной, преддипломной
практики</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                                                  <FONT SIZE=2 STYLE="font-size: 9pt">(нужное
подчеркнуть)</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<BR>
</P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с «____»_____________ 20
_____ г. по «_____»_____________ 20 _____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с «____»_____________ 20
_____ г. по «_____»_____________ 20 _____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0in; line-height: 150%">
<FONT SIZE=2 STYLE="font-size: 11pt">с «____»_____________ 20
_____ г. по «_____»_____________ 20 _____г.</FONT></P>
<P LANG="ru-RU" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.63in; margin-bottom: 0in; line-height: 150%">
<BR>
</P>
            </div>
        </div>
    </div>
{% endblock %}