{% extends 'main.html' %}
{% block body %}
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>МИНИСТЕРСТВО
        ОБРАЗОВАНИЯ И НАУКИ</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>РОССИЙСКОЙ
        ФЕДЕРАЦИИ</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A><FONT FACE="Times New Roman, serif"><FONT SIZE=4>ФЕДЕРАЛЬНОЕ
        ГОСУДАРСТВЕННОЕ АВТОНОМНОЕ ОБРАЗОВАТЕЛЬНОЕ
        УЧРЕЖДЕНИЕ</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>ВЫСШЕГО
        ОБРАЗОВАНИЯ</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>«КАЗАНСКИЙ
        (ПРИВОЛЖСКИЙ) ФЕДЕРАЛЬНЫЙ УНИВЕРСИТЕТ»</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Высшая
        школа информационных технологий и
        информационных систем</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>ОТЧЕТ
        О ПРОХОЖДЕНИИ ПРОИЗВОДСТВЕННОЙ ПРАКТИКИ
        В КОМПАНИИ</B></FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>__________________________________________________________________</FONT></FONT><FONT
            FACE="Times New Roman, serif">название
        компании</FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Студент
        группы ____________________________________________________</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-left: 3.44in; text-indent: 0.49in; margin-bottom: 0.14in">
        <FONT FACE="Times New Roman, serif"><FONT SIZE=2>подпись
            (Ф.И.О.)</FONT></FONT></P>
    <P STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Руководитель
        практики от ИТИС:</FONT></FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>__________________________________________________________________</FONT></FONT>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif">(должность,
        звание, Ф.И.О.)</FONT></P>
    <P STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>Руководитель
        практики от предприятия:</FONT></FONT></P>
    <P STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4>__________________________________________________________________</FONT></FONT>
    </P>
    <P STYLE="margin-bottom: 0.14in"><FONT FACE="Times New Roman, serif"><FONT SIZE=4> </FONT></FONT><FONT
            FACE="Times New Roman, serif">(должность,
        звание, Ф.И.О.)</FONT></P>

{% endblock %}