{% extends 'main.html' %}

{%  block body %}
<h1>Индивидуальные задания</h1>

<p>Учебная практика <a href="/ind_tasks/add/edu/">Добавить задание</a>
</p>
<p>
    {% for task in edu %}
    <a href="/ind_tasks/{{task.id}}/">{{ task.desc }}</a>
</p>
{% endfor %}

<p>Производственная практика <a href="/ind_tasks/add/prod/">Добавить задание</a></p>

<p>
    {% for task in prod %}
    <a href="/ind_tasks/{{task.id}}/">{{ task.desc }}</a>
</p>
{% endfor %}

<p>Преддипломная практика <a href="/ind_tasks/add/dip/">Добавить задание</a>
</p>
<p>
    {% for task in dip %}
    <a href="/ind_tasks/{{task.id}}/">{{ task.desc }}</a>
</p>
{% endfor %}

{% endblock %}