{% extends 'main.html' %}
{% block body %}
    {% include 'menuForDeanery.html' %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Преподаватель</th>
            <th>Руководитель практики от предприятия</th>
            <th>Компания</th>
            <th>Адрес</th>
            <th>Тип практики</th>
        </tr>
        </thead>
        <tbody>
        {% for practice in practices_list %}
            <tr>
                <td><a href="/practices/{{ practice.id }}/">{{ practice.name }}</a></td>
                <td>{{ practice.teacher }}</td>
                <td>{{ practice.director }}</td>
                <td>{{ practice.company }}</td>
                <td>{{ practice.address }}</td>
                <td>{{ practice.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/practices/new/"><button type="button" class="btn btn-primary">Добавить практику</button></a>
{% endblock %}