{% extends 'main.html' %}
{% block body %}
    {% include 'menuForDeanery.html' %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Курс</th>
            <th>Группа</th>
            <th>Практики</th>
            <th>Направление подготовки</th>
            <th>Наличие договора</th>
            <th>Квалификация</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students_list %}
            <tr>
                <td><a href="/students/{{ student.id }}/">{{ student.name }}</a></td>
                <td>{{ student.course }}</td>
                <td>{{ student.group }}</td>
                <td>{{ student.practice_view }}</td>
                <td>{{ student.edu_profile }}</td>
                <td>{{ student.contract }}</td>
                <td>{{ student.degree }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}